<html xmlns:th="http://www.thymeleaf.org">

<body>
  <form action="#" th:action="@{/test/form}" th:object="${personForm}" method="post">
    <table>
      <tr>
        <td>firstName:</td>
        <td><input type="text" th:field="*{firstName}" /></td>
        <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">first</td>
      </tr>
      <tr>
        <td>lastName:</td>
        <td><input type="text" th:field="*{lastName}" /></td>
        <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">last</td>
      </tr>
      <tr>
        <td>age:</td>
        <td><input type="text" th:field="*{age}" /></td>
        <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age</td>
      </tr>
      <tr>
        <td><button type="submit">Submit</button></td>
      </tr>
    </table>
  </form>
</body>

</html>